@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  background-color: #111010;
  font-family: 'Comfortaa', serif;
}

.zee {
  z-index: 9999999999;
}

._header {
  height: 11%;
}

._main {
  height: 89%;
}


/* Editor Styles */

.RichEditor-root {
    font-size: 14px;
    padding: 15px;
  }
  
  .RichEditor-editor {
    width: 100%;
    word-break: break-all;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
    background-color: #111010;
  }

  .RichEditor-editor h1, .viewer h1 {
    font-size: 2em;
    font-weight: bold;
  }

  .RichEditor-editor h2, .viewer h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .RichEditor-editor h3, .viewer h3 {
    font-size: 1.17em;
    font-weight: bold;
  }

  .RichEditor-editor h4, .viewer h4 {
    font-size: 1em;
    font-weight: bold;
  }

  .RichEditor-editor h5, .viewer h5 {
    font-size: .83em;
    font-weight: bold;
  }

  .RichEditor-editor h6, .viewer h6 {
    font-size: .67em;
    font-weight: bold;
  }

  .RichEditor-editor p, .viewer p {
    line-height: 2rem;
  }

  .RichEditor-editor a, .viewer a {
    color: #5890ff;
  }

  .viewer ul {
    list-style: disc;
    margin: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    background-color: #111010;
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote, .viewer blockquote {
    border-left: 5px solid #eee;
    color: #b6b6b6;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    color: #5890ff;
  }